.ui-slider-wrap{-fx-padding: 0 20px 0 20px;-fx-alignment: center;}
.ui-slider .track{-fx-background-color:#f4f4f5;-fx-pref-height:6px;-fx-background-radius:999px;}
.ui-slider .thumb{-fx-background-color:#7c3aed;-fx-pref-width:18px;-fx-pref-height:18px;-fx-background-radius:999px;}
.ui-slider .thumb:hover{-fx-background-color:#a78bfa;-fx-cursor: hand;}
.ui-slider-label{-fx-font-size:12px;-fx-font-weight:bold;-fx-text-fill:#09090b;}
.ui-slider-value{-fx-font-size:11px;-fx-text-fill:#71717a;}
