.ui-sidebar, .dashboard-nav {
    -fx-background-color: bg-surface;
    -fx-border-color: transparent border-color transparent transparent;
    -fx-border-width: 0 1 0 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 16 12 12 12;
    -fx-spacing: 12;
}

.dashboard-nav {
    -fx-padding: 16 12 12 0;
    -fx-max-width: 200px;
    -fx-min-width: 0px;
}

/* Hide scroll bar in navigator when content larger than its container width */
.dashboard-nav .scroll-bar {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.ui-sidebar-title {
    -fx-font-size: 16px;
    -fx-font-weight: 800;
    -fx-text-fill: text-primary;
}

.dashboard-nav-label {
    -fx-font-size: 11px;
    -fx-font-weight: 700;
    -fx-text-fill: text-muted;
}

.dashboard-nav-tree {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}

.dashboard-nav-tree .tree-cell {
    -fx-background-color: transparent;
    -fx-text-fill: text-primary;
    -fx-font-size: 12px;
    -fx-padding: 8 0 8 0;
    -fx-background-radius: 8;
}

.dashboard-nav-tree .tree-cell:selected {
    -fx-background-color: bg-elevated;
    -fx-text-fill: text-primary;
}

.dashboard-nav-tree .tree-cell:filled:hover {
    -fx-background-color: bg-elevated;
}

.dashboard-nav-tree .tree-disclosure-node .arrow {
    -fx-background-color: text-muted;
}

.ui-sidebar-menu {
    -fx-padding: 8 0 8 0;
}

.ui-sidebar-item {
    -fx-alignment: center-left;
    -fx-background-radius: 8;
    -fx-text-fill: text-muted;
}

.ui-sidebar-item-selected {
    -fx-background-color: bg-elevated;
    -fx-text-fill: text-primary;
}

.ui-sidebar-footer {
    -fx-padding: 10 0 0 0;
    -fx-border-color: border-color transparent transparent transparent;
    -fx-border-width: 1 0 0 0;
}
