.ui-data-table-wrap {
    -fx-background-color: transparent;
}

.ui-data-table {
    -fx-background-color: bg-surface;
    -fx-border-color: border-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.ui-data-table .column-header-background {
    -fx-background-color: bg-elevated;
    -fx-background-radius: 10 10 0 0;
}

.ui-data-table .column-header, .ui-data-table .filler {
    -fx-background-color: transparent;
    -fx-border-color: border-color;
}

.ui-data-table .column-header .label {
    -fx-text-fill: text-primary;
    -fx-font-weight: 700;
}

.ui-data-table .table-row-cell {
    -fx-background-color: bg-surface;
    -fx-text-fill: text-primary;
}

.ui-data-table .table-row-cell:selected {
    -fx-background-color: bg-muted;
}

.ui-data-table .table-cell {
    -fx-text-fill: text-primary;
    -fx-border-color: border-color;
}
